<ion-header *ngIf="item">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ item.basic.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">

  <div class="card">
    <!-- slider on top-->
    <ion-slides pager autoplay="2000" class="border-bottom">

      <ion-slide *ngFor="let slide of item.basic.images">
        <img src="{{ slide.thumb }}" alt="">
      </ion-slide>

    </ion-slides>

    <div class="rlt">
      <div class="btn-wish-list card light-bg" (click)="toggleWishList(item)">
        <ion-icon name="heart" color="medium" [hidden]="item.on_wish_list"></ion-icon>
        <ion-icon name="heart" color="danger" [hidden]="!item.on_wish_list"></ion-icon>
      </div>
    </div>

    <div text-center padding margin-top class="border-bottom">
      <p>{{ item.basic.name }}</p>
      <ion-text color="danger">
        <h1 class="price" margin-top>${{ item.store.price.displayPrice }}</h1>
      </ion-text>
    </div>
  </div>

  <!--Description-->
  <div class="card" margin-top>
    <div class="border-bottom" padding>Description</div>
    <div padding [innerHTML]="item.detailed.description"></div>
  </div>
</ion-content>
