<ion-content>
  <div class="welcome">
    <div class="align-bottom" padding>
      <div padding-left padding-right>
        <ion-button slot="start" expand="block" class="facebook align-left">
          <ion-icon name="logo-facebook"></ion-icon>
          Signin with Facebook
        </ion-button>
        <ion-button slot="start" expand="block" class="google align-left">
          <ion-icon name="logo-google"></ion-icon>
          <span>Signin with Google</span>
        </ion-button>
        <div margin-top>
          <ion-text color="light"><span>Use Email</span></ion-text>
        </div>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <ion-button expand="block" color="light" href="/login">Sign In</ion-button>
            </ion-col>
            <ion-col no-padding>
              <ion-button expand="block" color="light" href="/register">Register</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
