<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSearch()" [disabled]="true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button [disabled]="true">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-button>
      <ion-button (click)="goToCart()" [disabled]="true">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="common-bg">
  <!-- slider on top-->
  <ion-slides pager autoplay="2000">

    <ion-slide *ngFor="let slide of slides">
      <img src="{{ slide.src }}" alt="">
    </ion-slide>

  </ion-slides>

  <!--list categories-->
  <ion-card>
    <ion-list class="cat-list">
      <ion-row>
        <ion-col *ngFor="let cat of categories; let i = index" (click)="viewCategory(cat.id)">
          <img src="{{ cat.thumb }}" alt="">
          <div text-center>{{ cat.name }}</div>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>

  <h4 text-center>Today's Deals</h4>

  <!--List of items-->
  <ion-grid class="list-cards">
    <ion-row>
      <ion-col *ngFor="let item of items" size="6" class="product" (click)="viewItem(item.USItemId)">
        <div class="card white-bg">
          <img src="{{ item.basic.image.thumbnail.replace('http', 'https') }}">
          <div class="name">{{ item.basic.name }}</div>
          <div class="price" text-center>{{ item.store.price.displayPrice | currency:'USD':true }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
